{% if include.url == '/' %}
  {% assign banner_image = '/images/banner.jpg' %}
{% else %}
  {% assign banner_image = page.banner_image %}
{% endif %}

<div class="container-fluid">
  <div class="Banner">
    <div class="Banner-panel Banner-panel--image" style="background-image:
      url({{banner_image}})">
      <img src="{{banner_image}}" class="img-fluid Banner-img hidden-lg-up">
    </div>
    <div class="Banner-panel Banner-panel--text">
      <div>
        {% if include.url == '/' %}
          <h1 class="Banner-title">{{site.title}}</h1>
          <h4 class="Banner-subtitle">Early bird rate closes <span class="text-danger">Nov 7</span></h4>
          {% include
            button.html
            label="Register Now"
            href="https://www.eventbrite.com/e/medical-device-security-101-conference-tickets-27465381696"
            class="Banner-cta-button"
          %}
        {% else %}
          <h1 class="Banner-title">{{page.banner_title}}</h1>
          <h4 class="Banner-subtitle">{{page.subtitle}}</h4>
          {% if page.cta_link %}
            {% include
              button.html
              label=page.cta_text
              href=page.cta_link
              class="Banner-cta-button"
            %}
          {% endif %}
        {% endif %}
        </div>
      </div>
  </div>
</div>
