<div class="container-fluid">
  <div class="Banner">
    <div class="Banner-panel Banner-panel--image">
      <img src="/images/banner.jpg" class="img-fluid Banner-img">
    </div>
    {% if include.url == '/' %}
      {% assign banner_height = 510 %}
      <div class="Banner-panel Banner-panel--text">
        <div>
          <h1 class="Banner-title">Archimedes Medical Security 101 Conference</h1>
          <h4 class="Banner-location-text">Improve your medical device security with advice from the experts</h4>
          {% include
            button.html
            label="Register Now"
            href="/schedule"
            class="Banner-cta-button"
          %}
        </div>
      </div>
    {% else %}
      {% assign banner_height = 270 %}
      <div class="Banner-panel Banner-panel--page col-md-5 col-md-offset-1">
        <h1 class="Banner-title Banner-title--page">
          {{page.title}}
        </h1>
      </div>
    {% endif %}
  </div>
</div>
