<div class="container-fluid Home-content">
  <div class="row">
    <div class="col-sm-12">
      <p>
      Are you practicing safe sec? With hackers increasingly targeting healthcare providers, it’s never been more important to understand the security threats facing your organization.
      </p>
      <p>
      The Archimedes MedSec 101 Conference, hosted by the University of Michigan’s Archimedes Center for Medical Device Security, is a 2-day educational workshop for medical device manufacturers, industry regulators, and healthcare providers to learn and speak frankly about medical device security threats and solutions.
      </p>

      <p>
      Register today for direct access to leading security experts who will teach you how to identify, prevent, and recover from cyber-security attacks so that you, your clients, and your patients can rest secure.
      </p>
    </div>
  </div>
</div>
