<div class="container-fluid Home-content">
  <section class="row Home-section">
    <div class="col-lg-6 Home-column">
      <h4 class="Home-title">Are you practicing safe sec?</h4>
      <p>
      <img src="/images/safe-sec.jpg" class="img-fluid pull-sm-left Home-section-img">
      With cyber attacks on the rise, it’s critical to your patients and your
      business that you recognize the security threats facing the healthcare
      industry and have a plan in place to prevent them.
      </p>
      <p>
      The <strong>Medical Device Security 101 Conference</strong>, hosted by the
      University of Michigan’s <a
        href="https://www.secure-medicine.org/">Archimedes Center for Medical
        Device Security</a>, is
      a 2-day educational workshop taking place in Lake Buena Vista, Florida
      from January 15-17, 2017 for medical device manufacturers, industry
      regulators, and healthcare providers to learn and speak frankly about
      medical device security threats and solutions.
      </p>
      <p><a href="https://www.eventbrite.com/e/medical-device-security-101-conference-tickets-27465381696">Register today for direct access to leading security experts</a> who will
      teach you how to identify, prevent, and recover from cybersecurity attacks
      so that you, your clients, and your patients can rest secure.</p>
    </div>
    <div class="hidden-lg-up clearfix"></div>
    <div class="col-lg-6 Home-column">
      <h4 class="Home-title">Why attend?</h4>
      <p>Our events do not focus on the latest industry buzz or trendy new
      product development. We want you to feel comfortable speaking freely about
      your cybersecurity issues with trusted and respected professionals who can
      help you establish best practices for improving medical device security in
      your products and organizations. At Archimedes, we provide a forum
      for you to learn about emerging issues pertaining to cybersecurity and
      then we arm you with the knowledge to better protect both your clients and
      patients.</p>

      <p>Attendees from our previous conferences have included:</p>

      <ul>
        <li>Chief Information Security Officers</li>
        <li>Directors of Product Engineering</li>
        <li>System Engineers</li>
        <li>VPs of Global Product Security</li>
        <li>IT Security Managers</li>
        <li>Physicians</li>
        <li>Chairs of medical device security standards bodies</li>
        <li>Security researchers</li>
        <li>Front-line engineers from clinical facilities</li>
      </ul>
    </div>
  </section>
  <div class="row">
    <div class="col-sm-12">
      <div class="row Home-quote">
        <div class="col-sm-2">
          <img src="/images/mike-ahmadi.jpg" class="img-fluid">
        </div>
        <blockquote class="blockquote col-sm-10">
          <p>&quot;Sitting in a room full of the brightest minds in medicine and
          security made me wonder if this is what it was like planning the first
          Space Shuttle launch.&quot;</p>
          <footer class="blockquote-footer">Mike Ahmadi, Director of Critical Systems Security - Software Integrity Group at Synopsys Inc</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="Home-title">Sponsors & Partners</h4>
    </div>
  </div>
  <div class="row">
    {% for sponsor in site.sponsors %}
      <div class="col-sm-2">
        <a href="{{ sponsor.sponsor_website}}">
          <img src="{{ sponsor.sponsor_logo }}" title="{{ sponsor.title }}"
          class="img-fluid">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
