<div class="row">
  <div class="col-sm-12 Speaker">
    <div class="col-sm-3">
      {% if include.speaker.speaker_image != '' %}
        <img src="{{include.speaker.speaker_image}}" class="img-fluid"
        title="{{include.speaker.title}}">
      {% endif %}
    </div>
    <div class="col-sm-9">
      <h6>
        {{ include.speaker.title }}
      </h6>
      <div class="text-muted">
        <small>
          {{ include.speaker.credentials_text | markdownify }}
        </small>
      </div>
      {{ include.speaker.content | markdownify }}
    </div>
  </div>
</div>

