.Banner {
  width: 100%;
  height: 100%;
  margin: 0 0 20px;
  display: table;
}

.Banner-panel {
  height: 100%;
  display: table-cell;
  vertical-align: top;
  float: none;

  &.Banner-panel--image {
    width: 75%;
  }

  &.Banner-panel--text {
    width: 25%;
    background-color: #d5e8ed;

    > div {
      padding: 25px;
    }
  }
}

.Banner-img {
  margin: 0;
}

.Banner-subtitle {
  font-weight: 600;
  text-transform: uppercase;
  color: $brand-primary;

  a {
    margin: -4px 0 0 10px;
    color: white;
  }
}

.Banner-title {
  font-weight: 200;
  text-transform: uppercase;

  &.Banner-title--page {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.Banner-location-text {
  color: #137b9b;
}

.Banner-cta-button {
  margin-top: 14px;
}
