$link-color: #666666;

.Header {
  padding: {
    top: 46px;
    bottom: 26px;
  }

  a {
    text-decoration: none;
    color: $link-color;
    transition: color 0.25s ease-in;

    &:hover {
      color: $brand-primary;
    }
  }
}

.Header-logo {
  $logo-img: '/images/logo.png';
  width: 300px;
  height: 0px !important;
  padding-top: 69px;
  display: inline-block;
  overflow: hidden;
  background: url($logo-img) no-repeat;
  background-size: 300px;
}

.Header-social-links {
  float: right;
  margin-bottom: 6px;

  a {
    font-size: 24px;
  }
}

.Header-menu {
  width: 60px;
  float: right;
}

.Header-subtitle {
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: $brand-primary;

  a {
    margin: -4px 0 0 10px;
    color: white;
  }

  @media (max-width: 544px) {
    line-height: 24px;
  }
}
.Header-nav {
  float: right;
  margin-bottom: 0;
  font-size: 18px;
}

.Header-nav-item {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  a.active {
    color: $brand-primary;
  }
}


