/**
 * Site header
 */
body {
  -webkit-font-smoothing: antialiased;
}

a {
  &,
  &:hover {
    color: $brand-primary;
  }
}

.btn {
  text-transform: uppercase;
}

.Container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: left;
  background-color: #fff;
}

.Container-content {

}

.Content {
  margin-bottom: 50px;
}

hr {
  border-top-color: #ccc;
}
