---
layout: default
---

<article class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {{ content | markdownify}}
    </div>
  </div>

  <div class="row">
    {% for section in page.columns %}
      <div class="col-sm-6 Content">
        <h4 class="Home-title">{{section.title}}</h4>
        {{section.body | markdownify}}
        {% if section.map %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="{{section.map}}"
              width="600"
              height="450"
              frameborder="0"
              style="border:0" allowfullscreen>
            </iframe>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</article>
