---
layout: default
---

<div class="container-fluid">
  <section class="row">
    <div class="col-sm-12">
      {{content}}
    </div>
  </section>

  {% for day in page.schedule %}
    <div class="row">
      <header class="col-sm-12 Day">
        <div class="row">
          <div class="col-xs-4">
            <h3 class="Day-date">
              {{day.date | date_to_string }}
            </h3>
          </div>
          <div class="col-xs-8">
            <h3 class="Day-title">{{day.title}}</h3>
          </div>
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>
      </header>
    </div>

    {% for slot in day.time_slots %}
      {% if slot.tracks %}
        <div class="row">
          <div class="col-sm-6 Presentation-track">
            <h5>
              Health Delivery Organizations
            </h5>
            <small>Asbury Hall: A & B</small>
          </div>
          <div class="col-sm-6 Presentation-track">
            <h5>Manufacturers</h5>
            <small>Asbury Hall: C & D</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-sm-12 Schedule-block
          {% if slot.break %}
             Schedule-block--break
          {% endif %}">
            <div class="row">
              {% if slot.tracks %}
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      {% for block in slot.tracks.health %}
                        {% include presentation-track-time.html time=block.time %}
                        <div class="row">
                          {% include
                            presentation.html
                            presentation_title=block.presentation
                            time=block.time
                            location="Health Delivery Organizations - Asbury Hall: A & B"
                            is_track=true
                          %}
                        </div>
                        {% if forloop.last == false %}
                          <div class="row">
                            <div class="col-sm-12">
                              <hr/>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="col-sm-6">
                      {% for block in slot.tracks.manufacturers %}
                        {% include presentation-track-time.html time=block.time %}
                        <div class="row">
                          {%
                            include presentation.html
                            presentation_title=block.presentation
                            time=block.time
                            location="Manufacturers - Asbury Hall: C & D"
                            is_track=true
                          %}
                        </div>
                        {% if forloop.last == false %}
                          <div class="row">
                            <div class="col-sm-12">
                              <hr/>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
            {% else %}
              <div class="col-sm-2">
                {{slot.time}}
              </div>
              {% include
                presentation.html
                presentation_title=slot.presentation
              %}
            {% endif %}
            </div>
          <hr/>
        </div>
      </div>
    {% endfor %}

      {% if forloop.last != true %}
        <div class="row">
          <div class="col-sm-12">
            <hr class="Schedule-divider"/>
          </div>
        </div>
      {% endif %}

  {% endfor %}
  </div>
</div>
