---
layout: default
---

{% assign featured = site.speakers | sort: 'position' | where:'is_featured',
true %}
{% assign speakers = site.speakers | sort: 'position' |
where:'is_featured',false %}
{% assign experts = site.speakers | sort: 'position' |
where:'is_invited_expert',true %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {{content}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="Home-title">Keynote Speaker</h4>
    </div>
  </div>
  <div class="row">
  {% for speaker in featured %}
    {% if forloop.first %}
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <img src="{{speaker.speaker_image}}" class="img-fluid" title="{{speaker.title}}">
          </div>
          <div class="col-sm-8">
            <h6>
              {{ speaker.title }}
            </h6>
            <div>
              <small>
                {{ speaker.credentials_text | markdownify }}
              </small>
            </div>
            <div>
              {{ speaker.content | markdownify }}
            </div>
          </div>
          <div class="col-sm-12" style="margin-top: 40px">
            <h4 class="Home-title">Featured Speakers</h4>
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-md-6 Speaker">
        <div class="Speaker-header">
          <div class="Speaker-photo pull-xs-left">
            <img src="{{speaker.speaker_image}}" class="img-fluid" title="{{speaker.title}}">
          </div>
          <div class="Speaker-title">
            <div>
              {{ speaker.title }}
            </div>
            <div>
              <small>
                {{ speaker.credentials_text | markdownify }}
              </small>
            </div>
          </div>
        </div>
        {{ speaker.content | markdownify }}
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="Home-title">Session Speakers & Panelists</h4>
    </div>
  </div>
  <div class="row">
    {% for speaker in speakers %}
      {% if speaker.is_invited_expert == false %}
        {% include speaker.html speaker=speaker %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="Home-title">Invited Experts</h4>
    </div>
  </div>
  <div class="row">
    {% for speaker in experts %}
      {% include speaker.html speaker=speaker %}
    {% endfor %}
  </div>
</div>
